
/****************************************************** base ****/

* {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

/***************************************************** container ****/

#container {
  width: 100vw;
  height: 100vh;
}